.card-wrapper {
  width: 15%;
}

.card--rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .2rem;
}

.card-img {
  width: 176px;
  height: 235px;
}

.stat--bold {
  font-weight: bold;
}

.card-star {
  width: 20px;
}

.card--content {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
